<h2>Pregunta</h2>
<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<p>Tema: <%= quiz.temadescripcion %> </p>
	<p>Pregunta: <%= quiz.pregunta %> </p>
	<input type="text" name="respuesta" placeholder="Responda aquí" autocomplete="off">
	<input type="submit" value="Enviar">
</form>